<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录页面</title>
		<style type="text/css">
			html { height: 100%; }
			body { height: 100%; background: #fff url(imgages/20120806224752_U5fnn.jpeg) 50% 50% no-repeat; background-size: cover;}
			.form-item button { width: 360px; height: 50px; border: 0; border-radius: 25px; font-size: 18px; color: #1f6f4a; outline: none; cursor: pointer; background-color: #fff; margin-top:60px;}
		</style>
	</head>
	<body>
		<div class="form-item">
			<center><button type="button"><a href="http://localhost:8888/recruit/employ">去应聘</a></button></center>
		</div>
		<div style="margin-top: 188px;" align="center">
			<ul style="font-size: 60px;">一份好工作，让你衣食无忧！！！</ul>
		</div>
	<script>document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script><script src="//127.0.0.1:35729/livereload.js?snipver=1"></script><script>document.addEventListener('LiveReloadDisconnect', function() { setTimeout(function() { window.location.reload(); }, 500); })</script>

</body>
</html>