<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>新闻</title>
    <meta name="keywords" content="[!--pagekey--]"/>
    <meta name="description" content="[!--pagedes--]"/>
    <link href="/css/master.css" type="text/css" rel="stylesheet"/>
    <link href="/css/base.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/SuperSlide.js?v2.1"></script>
    <script type="text/javascript" src="/js/jquery.jclock.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css"></link>
</head>


<body>
<!--------------------------------------------头部开始-------------------------------------------->
<div class="zxcf_top_wper">
    <div class="zxcf_top px1000 clearfix" align="center">
        <div class="zxcf_top_l fl">

            <img src="">
            +1 234 122 122(工作时间9:00-17:30)
            
        </div>
        <div class="zxcf_top_r fr">
            <a href="/qian/denglu" class="curspan">立即登录</a>
            <span>|</span>
            <a href="">免费注册</a>
            <span>|</span>
            <a href="">常见问题</a>
        </div>
    </div>
</div>
<!-- end top -->

<!--------------------------------------------头部结束-------------------------------------------->

<div class="index-main clearfix">

    <div class="newsnav yh"><a href="/qian/shouye">首页</a> > 新闻</div>

    <div class="content clearfix">
        <div class="biaoti">二手房贷款应提供的证明</div>
        <div class="nr">
            <p><img src="/images/6.jpg" style=" float:left; margin-right:20px;" width="207" height="276">

                　


                【先办理过户 再申请贷款】

                一、提供《新乡市个人住房公积金贷款申请表》1份。<br>
                二、提供借款人及配偶身份证、户口本原件及2份复印件<br>。
                ★户口本上不显示夫妻关系的要提供结婚证原件及2份复印件；<br>
                ★借款人未婚的，提供未婚声明2份；<br>
                ★借款人离异未再婚的，提供：⑴未再婚声明2份；⑵离婚证及离婚协议书或离婚判决书原件及2份复印件；<br>
                ★借款人丧偶未再婚的，提供：⑴未再婚声明2份；⑵死亡证明原件及2份复印件。<br>
                三、提供人行出具的借款人及配偶《个人信用报告》原件及1份复印件。<br>
                四、提供所购住房《新乡市存量房买卖合同》或《房屋买卖契约》复印件2份并盖“新乡市不动产登记和交易中心”业务章及“此件与原件相符”长条章。<br>
                五、提供所购住房《中华人民共和国税收缴款书》原件及2份复印件。<br>
                六、提供所购住房《不动产权证书》（2个月内申请贷款有效）、《国有土地证》(单元房除外)原件及2份复印件。<br>
                七、提供家庭成员（包括借款人、配偶及未成年子女）户口所在地和购房所在地县（市）级以上房管部门出具的《房产查询证明》原件及1份复印件。<br>

                温馨提示：若家庭成员户口所在地为两地及以上的，需出具每个户口所在地全部家庭成员（包括借款人、配偶及未成年子女）的《房产查询证明》 。<br>
               
            </p>
        </div>
    </div>
</div>


</div>

<div class="zscf_bottom_wper" align="center">
    <div class="zscf_bottom px1000 clearfix">
        <p class="fl">© 2014 zhongxincaifu &nbsp; &nbsp;&nbsp; 瓜皮股份有限公司 &nbsp;&nbsp;&nbsp;</p>
        <p class="fr">
            <a href="#"><img src="http://www.10086.cn/ha_tail/images/knetSealLogo.png"></a>
            <a href="#"><img src="" alt=""></a>
           
        </p>
    </div>
</div>


<script src="/js/all.js" type="text/javascript"></script>
</body>
</html>