<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应聘信息审核</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item>
                <template>
                    <el-select v-model="searchForm.sex" placeholder="性别">
                        <el-option
                                v-for="item in options"
                                :key="item.sex"
                                :label="item.value"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-form-item>
            <el-form-item label="所属部门">
                <el-input v-model="searchForm.recruitdp" placeholder="所属部门"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="addClick">新增</el-button>
                <el-button type="success" icon="plus" @click="returnClick">刷新</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="STID"
                    label="ID"
                    align="center"
                    width="55"
            >
            </el-table-column>
            <el-table-column
                    prop="STNAME"
                    label="应聘人姓名"
                    align="center"
                    width="80"
            >
            </el-table-column>
            <el-table-column
                    prop="SEX"
                    label="性别"
                    align="center"
                    width="55"
            >
            </el-table-column>

            <el-table-column
                    prop="IDCARD"
                    label="身份证"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="PHONE"
                    label="手机号"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="RECRUITDP"
                    label="应聘部门"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="RECRUITPOS"
                    label="应聘职位"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="EMPLOYTIME"
                    label="应聘提交时间"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="RESUME"
                    label="个人简历"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="RECRUITNUM"
                    label="还需招聘人数"
                    align="center"
                    width="55"
            >
            </el-table-column>
            <el-table-column
                    prop="STATE"
                    label="审核状态"
                    align="center"
            >
                <template slot-scope="scope">
                    <el-tag :type="scope.row.STATE | statusFilter">{{scope.row.STATE }}</el-tag><!--{{scope.row.STATE| formatStata}}-->
                </template>
            </el-table-column>
            <el-table-column
                    label="操作">
                <template scope="scope">
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">审核通过</el-button>
                    <br>
                    <el-button :plain="true" type="danger" size="small" icon="delete" @click="downClick(scope.row)">审核驳回</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
       <!-- <el-col :span="6" >
            <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
        </el-col>-->
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <!--新增编辑界面-->
    <el-dialog title="应聘人信息填写" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">

            <el-form-item label="姓名" prop="STNAME">
                <el-input v-model="editForm.STNAME" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="SEX">
                <el-select v-model="editForm.SEX" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.SEX"
                            :label="item.value"
                            :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="身份证号" prop="IDCARD">
                <el-input v-model="editForm.IDCARD" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="PHONE">
                <el-input v-model="editForm.PHONE" auto-complete="off"></el-input>
            </el-form-item>
            <!--<el-form-item label="应聘部门" prop="RECRUITDP">
                <el-select v-model="editForm.RECRUITDP" placeholder="请选择">
                    <el-option
                            v-for="item in optiondept"
                            :key="item.ID"
                            :label="item.DNAME"
                            :value="item.DNAME"></el-option>
                </el-select>
            </el-form-item>-->
            <el-form-item label="应聘部门" prop="RECRUITDP">
                <el-input v-model="editForm.RECRUITDP"  :disabled="true"></el-input>
            </el-form-item>
            <!--<el-form-item label="应聘职位" prop="RECRUITPOS">
                <el-input v-model="editForm.RECRUITPOS" auto-complete="off"></el-input>
            </el-form-item>-->
            <el-form-item label="应聘职位" prop="RECRUITPOS">
                <el-input v-model="editForm.RECRUITPOS"  :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="发布日期"  prop="EMPLOYTIME">
                <el-date-picker type="date"  value-format="yyyy-MM-dd" placeholder="选择日期" v-model="editForm.EMPLOYTIME"></el-date-picker>
            </el-form-item>
            <!--<el-form-item label="应聘部门" prop="RECRUITDP">
                <el-select v-model="editForm.RECRUITDP" placeholder="请选择">
                    <el-option
                            v-for="item in optiondept"
                            :key="item.ID"
                            :label="item.DNAME"
                            :value="item.DNAME"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="应聘职位" prop="RECRUITPOS">
                <el-input v-model="editForm.RECRUITPOS" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="发布日期"  prop="EMPLOYTIME">
                <el-date-picker type="date"  value-format="yyyy-MM-dd" placeholder="选择日期" v-model="editForm.EMPLOYTIME"></el-date-picker>
            </el-form-item>-->
            <el-form-item label="个人简历" prop="RESUME">
                <el-input v-model="editForm.RESUME" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="招聘人数" prop="RECRUITNUM">
                <el-input-number v-model="editForm.RECRUITNUM" :min="0" :max="20000"></el-input-number>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="edittiSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>

    <!--<el-dialog title="驳回理由填写" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">

            <el-form-item label="驳回理由" prop="REASON">
                <el-input v-model="editForm.REASON" auto-complete="off"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" @click.native="rejectSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>-->

</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '招聘信息审核'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        filters: {
            // el-tag类型转换
            statusFilter:function(status) {
                const statusMap = {
                    '待审核': 'info',
                    '审核驳回': 'danger',
                    '审核通过': 'success'
                }
                return statusMap[status]
            },
            // 状态显示转换
            /*formatStata:function(status) {
                const statusMap = {
                    1: '待审核',
                    2: '审核通过',
                    3: '审核驳回',
                }
                return statusMap[status]
            }*/
        },
        data: {

            //部门select
            optiondept:[],
            options:[
                {
                    value: '男',
                    label: '男'
                }, {
                    value: '女',
                    label: '女'
                }
            ],
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                sex: '',
                recruitdp:''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',
            editFormRules: {
                name: [
                    { required: true, message: '请输入部门', trigger: 'blur' }
                ]
            },
            //编辑界面数据
            editForm: {
                STNAME: '',
                SEX: '',
                IDCARD: '',
                PHONE: '',
                RECRUITDP:'',
                RECRUITPOS: '',
                EMPLOYTIME: '',
                RESUME: '',
                RECRUITNUM: '',
                STATE:''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;
            axios.post('/employ/page',{'start':start,'end':end}).then(function(response){
                // console.log(response.data);
                //alert(response.data.total);
                self.total=response.data.total;
                self.tableData = response.data.pageData;
                // alert(JSON.stringify(response.data.pageData));
                // self.multipleSelection=response.data.data;
            });
            axios.post('/dept/list').then(function(response){
                self.optiondept=response.data;
            })

        },
        methods: {

            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                var end = this.currentPage * this.pageSize + 1;
                //  alert(this.searchForm.id);
                var searchForm = {
                    'start': start,
                    'end': end,
                    'sex': this.searchForm.sex,
                    'recruitdp': this.searchForm.recruitdp
                };
                //alert(JSON.stringify(searchForm));
                axios.post('/employ/page', searchForm).then(function (response) {
                    console.log(response.data);
                    // alert(222);
                    _self.total = response.data.total;
                    _self.tableData = response.data.pageData;
                    //_self.multipleSelection=response.data.data;
                })
                console.log(_self.currentPage);
                setTimeout(function () {
                    console.info("加载数据成功");
                    _self.loading = false;
                }, 300);
            },
            //表格编辑事件
            editClick: function (row) {
                var _self = this;
                this.goUrl = "/employ/tgupdate";
                /*this.editFormVisible = true;*/
                /*this.editForm = Object.assign({}, row);*/
                axios.post(this.goUrl, {STATE:'审核通过',STID:row.STID}).then(function (response) {

                        //alert(response.data)
                    if (response.data > 0) {
                       _self.tableData.state='审核通过';
                        _self.loadingData();//重新加载数据
                    }else{
                        _self.$message({
                            message: '审核失败',
                            type: 'error'
                        });
                        _self.loadingData();//重新加载数据
                    }
                })
            },
            downClick: function (row) {
                this.goUrl = "/employ/tgupdate";
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);
            },

           /* deleteClick: function (row) {
                //alert(JSON.stringify(row));
                var _self = this;
                this.$confirm('确认删除' + row.ID + '吗?', '提示', {
                    type: 'warning'
                }).then(function () {
                    var url = "/employ/delete/" + row.ID;
                    axios.get(url).then(function (response) {
                        //alert(url);
                        if (response.data > 0) {
                            _self.$message({
                                message: row.ID + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        }
                    });
                }).catch(function (e) {
                    if (e != "cancel")
                        console.log("出现错误：" + e);
                });
            },*/

          /*  addClick: function(){


            },*/
            //刷新页面
            returnClick: function () {
                return location.href = location.href;
            },
            //新建事件
            addClick: function () {
                //alert(111);
               /* this.goUrl = "/employ/add";*/
                var _self = this;
                //清空缓冲数据
               /* this.editForm = {
                    STNAME: '',
                    SEX: '',
                    IDCARD: '',
                    PHONE: '',
                    RECRUITDP:'',
                    RECRUITPOS: '',
                    EMPLOYTIME: '',
                    RESUME: '',
                    RECRUITNUM: ''
                }*/
                alert("11111");
                var self = this;
                var goUrl = "/employ/chaxun";
                axios.post(goUrl).then(function (response) {
                    alert(response.data);
                    alert("222222222");
                    self.editForm.RECRUITDP= response.data.department;
                    self.editForm.recruitdp = response.data.DEPARTMENT;
                })
                //显示隐藏的form表单
                this.editFormVisible = true;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick: function () {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange: function (val) {
                for (var i = 0; i < val.length; i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },

            edittiSubmit: function () {
                var _self = this;
                _self.loading = true;
                var formData = this.editForm;
                //alert(formData);
                //var goUrl = this.goUrl;
                var goUrl = "/employ/add";
                //alert(goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl, formData).then(function (response) {
                    //alert(222);
                    if (response.data > 0) {
                        //alert(111);
                        _self.editFormVisible = false;
                        _self.loadingData();//重新加载数据
                    }
                })
                console.info(this.editForm);
            },
            //保存点击事件（审核通过）
            editSubmit: function () {
                var _self = this;
                _self.loading = true;
                var formData = this.editForm;
                alert(JSON.stringify(formData));
                var goUrl = "/employ/tgupdate";
                //alert(goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl, formData).then(function (response) {
                    //alert(222);
                    alert(response.data)
                    if (response.data > 0) {
                        _self.tableData.state='审核通过';
                        //alert(111);
                        _self.loadingData();//重新加载数据
                    }else{
                        _self.$message({
                            message: '审核失败',
                            type: 'error'
                        });
                        _self.loadingData();//重新加载数据
                    }
                })
                console.info(this.editForm);
            },
            //审核驳回保存点击事件
            rejectSubmit: function () {
                var _self = this;
                _self.loading = true;
                var formData = this.editForm;
                alert(JSON.stringify(formData));
                //alert(formData);
                //var goUrl = this.goUrl;
                var goUrl = "/employ/tgupdate";
                //alert(goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl, formData).then(function (response) {
                    //alert(222);
                    alert(response.data)
                    if (response.data > 0) {
                        _self.tableData.state='审核驳回';
                        //alert(111);
                        _self.loadingData();//重新加载数据
                    }else{
                        _self.$message({
                            message: '审核失败',
                            type: 'error'
                        });
                        _self.loadingData();//重新加载数据
                    }
                })
                console.info(this.editForm);
            }
        }
    })
</script>
</body>
</html>