<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应聘信息审核记录</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item>
                <template>
                    <el-select v-model="searchForm.sex" placeholder="性别">
                        <el-option
                                v-for="item in options"
                                :key="item.sex"
                                :label="item.value"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-form-item>
            <el-form-item label="所属部门">
                <el-input v-model="searchForm.recruitdp" placeholder="所属部门"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="returnClick">刷新</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="STID"
                    label="ID"
                    align="center"
                    width="55"
            >
            </el-table-column>
            <el-table-column
                    prop="STNAME"
                    label="应聘人姓名"
                    align="center"
                    width="80"
            >
            </el-table-column>
            <el-table-column
                    prop="SEX"
                    label="性别"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="IDCARD"
                    label="身份证"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="PHONE"
                    label="手机号"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    prop="RECRUITDP"
                    label="应聘部门"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="RECRUITPOS"
                    label="应聘职位"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="EMPLOYTIME"
                    label="应聘提交时间"
                    align="center"
            >
            </el-table-column>
            <!--<el-table-column
                    prop="RESUME"
                    label="个人简历"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="RECRUITNUM"
                    label="还需招聘人数"
                    align="center"
                    width="55"
            >
            </el-table-column>-->
            <el-table-column
                    prop="STATE"
                    label="审核结果"
                    align="center"
                    :formatter="formatSex"
            >
                <template slot-scope="scope">
                    <el-tag :type="scope.row.STATE | statusFilter">{{scope.row.STATE | formatStata}}</el-tag>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <!-- <el-col :span="6" >
             <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
         </el-col>-->
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '应聘信息审核记录'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        filters: {
            // el-tag类型转换
            statusFilter:function(status) {
                const statusMap = {
                    '待审核': 'info',
                    '审核驳回': 'danger',
                    '审核通过': 'success'
                }
                return statusMap[status]
            },
            // 状态显示转换
            /*formatStata:function(status) {
                const statusMap = {
                    1: '待审核',
                    2: '审核通过',
                    3: '审核驳回',
                }
                return statusMap[status]
            }*/
        },
        data: {

            //部门select
            optiondept:[],
            options:[
                {
                    value: '男',
                    label: '男'
                }, {
                    value: '女',
                    label: '女'
                }
            ],
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                sex: '',
                recruitdp:''
            },
            //多选值
            multipleSelection: [],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //删除的弹出框
            deleteVisible:false,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',
            editFormRules: {
                name: [
                    { required: true, message: '请输入部门', trigger: 'blur' }
                ]
            },
            //编辑界面数据
            editForm: {
                STATE:''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize+1;
            axios.post('/employ/page',{'start':start,'end':end,'STATE':"'审核驳回','审核通过'"}).then(function(response){
                // console.log(response.data);
                //alert(response.data.total);
                self.total=response.data.total;
                self.tableData = response.data.pageData;
                // alert(JSON.stringify(response.data.pageData));
                // self.multipleSelection=response.data.data;
            });
            axios.post('/dept/list').then(function(response){
                self.optiondept=response.data;
            })

        },
        methods: {

            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                var end = this.currentPage * this.pageSize + 1;
                //  alert(this.searchForm.id);
                var searchForm = {
                    'start': start,
                    'end': end,
                    'sex': this.searchForm.sex,
                    'recruitdp': this.searchForm.recruitdp,
                    'STATE':"'审核驳回','审核通过'"
                };
                //alert(JSON.stringify(searchForm));
                axios.post('/employ/page', searchForm).then(function (response) {
                    console.log(response.data);
                    // alert(222);
                    _self.total = response.data.total;
                    _self.tableData = response.data.pageData;
                    //_self.multipleSelection=response.data.data;
                })
                console.log(_self.currentPage);
                setTimeout(function () {
                    console.info("加载数据成功");
                    _self.loading = false;
                }, 300);
            },
            //表格编辑事件
            editClick: function (row) {
                var _self = this;
                this.goUrl = "/employ/tgupdate";
                /*this.editFormVisible = true;*/
                /*this.editForm = Object.assign({}, row);*/
                axios.post(this.goUrl, {STATE:'审核通过',STID:row.STID}).then(function (response) {

                    //alert(response.data)
                    if (response.data > 0) {
                        _self.tableData.state='审核通过';
                        _self.loadingData();//重新加载数据
                    }else{
                        _self.$message({
                            message: '审核失败',
                            type: 'error'
                        });
                        _self.loadingData();//重新加载数据
                    }
                })
            },



            //刷新页面
            returnClick: function () {
                return location.href = location.href;
            },
            //新建事件
            addClick: function () {
                //alert(111);
                this.goUrl = "/employ/add";
                var _self = this;
                //清空缓冲数据
                this.editForm = {
                    STID:'',
                    DEPARTMENT: '',
                    RECRUITNUM: '',
                    RELEASETIME: '',
                    EDUCATION: '',
                    WORKEXER: '',
                    JOBS: '',
                    LANGUAGE: '',
                    JOBRESPON: '',
                    EMPID: '',
                    EMPNAME: ''
                }
                //显示隐藏的form表单
                this.editFormVisible = true;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick: function () {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange: function (val) {
                for (var i = 0; i < val.length; i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            }
        }
    })
</script>
</body>
</html>